{% extends 'authbase.html' %}
{% block title %}Sign Up{% endblock title %}
{% load widget_tweaks %}
{% block content %}
<div class="container h-100">
<div class="d-flex justify-content-center h-100">
<div  class="d-flex justify-content-center sub-title">
    <h1>MeshPower Boards' Recording System</h1>
</div>
<div class="user_card">
    <div class="d-flex justify-content-center">
        <h2>Sign up</h2>
    </div>
    <form method="post" class="col-6">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control form-input' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <br/>

        <div class="form-group login_container">
            <button type="submit" class="btn btn-success item">
                <span class="glyphicon glyphicon-ok"></span> Sign Up
            </button>
            <a href="{% url 'home' %}" class="btn btn-warning item">Cancel</a>
        </div>
    </form>
    <div>
        <br/>
        <br/>
    <p>Already have an account? <a href="{% url 'login' %}" class="btn-info">Login</a></p>
    </div>
    </div>
    </div>
    </div>
{% endblock content %}